@CHARSET "ISO-8859-1";
@font-face {font-family:basic;src: url(basictitlefont.ttf);}
@font-face {font-family:ps;src: url(ProductSans-Regular.ttf);}



/*.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('index_bg.png') 50% 50% no-repeat rgb(249,249,249);
}
*/
span
{
	
color:white;
text-shadow: 0px 1px black!important;
}



#weltxt
{
font-size:20px;
color:#1e90ff;
font-family:basic;
font-weight:bold;
text-shadow:0 0 2px #1e90ff;
text-align:center;
margin-top:20px;
}




/*form*/

#ECGform{
	
	
	width:100%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	padding-top:20px;
	box-shadow: 0 0 20px black;
	margin-bottom:5px;
}

.form-group label{


font-family:ps;
font-size:16px;

}



/*home_image*/


body{
	
	
	/*background:repeating-linear-gradient(to right,#222,#222 2px,#fff 2px,#fff 4px);
	margin-right:0px;*/
	background-image: url("KuboMainBG.png");
	
    Background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
	
}


/*containers*/

#con1{
	margin-top:40px;
	height:100%;
	width:100%;
	 overflow-x: auto;
	
}
#con2{
	height:100%;
	width:100%;
	
}

	

.container{
	background-color:none;
	width:100%;
	
	
	
}



input[type="text"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}
input[type="email"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}
input[type="password"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}

textarea{
background-color:#1e90ff!important;
color:white!important;
font-family:ps;
}
select{
background-color:#1e90ff!important;
color:white!important;
font-family:ps;
}

input[type="text"]::-webkit-input-placeholder {
  color:white;
}

input[type="password"]::-webkit-input-placeholder {
  color:white;
}

input[type="email"]::-webkit-input-placeholder {
  color:white;
}

input[type="select"]::-webkit-input-placeholder {
  color:white;
}






/* Admin CSS */


.admin-button {
    display:block;
    width:100px;
	height:40px;
	position:relative;
	margin-left:20px;
	margin-top:20px;
    line-height:20px;
    color:white !important;
    text-align:center;
    text-decoration:none;
	text-shadow: 0 0 1px #1e90ff;
    background-color: #1e90ff !important;
    font-size:1em;
   	font-family:ps;	
	transition-duration:2s;
	transition-property:height,width,color,text-shadow,font-size,text-shadow,background-color,line-height,box-shadow;
	border:none;
	
}
.admin-button:hover {
	text-align:center;
	text-decoration:none;
	/*box-shadow: 0 0 5px black;*/	
	color:#1e90ff!important;
	background-color:white !important;
	border:none;
	
}



#XCDHeading{
color:#1e90ff;
font-size:30px;
font-family:basic;	
font-weight:bolder;
text-shadow:0 0 2px white;
}


footer{
background-color:white;
width:100%;
padding-top:20px;
height:150px;
border-top:5px solid #109eff;
border-bottom:5px solid #109eff;
}

p{
font-size:20px;
font-family:ps;
color:#1e90ff;
text-align:center;
}



