@CHARSET "ISO-8859-1";
@font-face {font-family:basic;src: url(basictitlefont.ttf);}
@font-face {font-family:ps;src: url(ProductSans-Regular.ttf);}






span
{
	

color:white;
	
}






/*form*/

.form-group label{


font-family:ps;
font-size:16px;

}



/*home_image*/

#homeimg
{
	height:100px;
	width:400px;
	margin-left:280px;
	
}

body{
	
	/*background:repeating-linear-gradient(to right,#222,#222 2px,#fff 2px,#fff 4px);
	margin-right:0px;*/
	background-image: url("KuboMainBG.png");
    Background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
	
}


/*containers*/

#con1{
	margin-top:40px;
	height:200px;
	
}

	

.container{
	
	width:1000px;
	
	
}

#con2{
	margin-top:40px;
	width:100%;
	height:1500px;
	background-color:red;
	
}

input[type="text"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}
input[type="email"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}
input[type="password"]{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}
select{
background-color:#1e90ff!important;
color:white;
font-family:ps;
}

input[type="text"]::-webkit-input-placeholder {
  color:white;
}

input[type="password"]::-webkit-input-placeholder {
  color:white;
}

input[type="email"]::-webkit-input-placeholder {
  color:white;
}






/* Admin CSS */


#admin-button {
    display:block;
    width:100px;
	height:40px;
	position:relative;
	margin-left:20px;
	margin-top:20px;
    line-height:20px;
    color:white;
    text-align:center;
    text-decoration:none;
	text-shadow: 0 0 1px #1e90ff;
    background-color: #1e90ff;
    font-size:1em;
   	font-family:ps;	
	transition-duration:2s;
	transition-property:height,width,color,text-shadow,font-size,text-shadow,background-color,line-height,box-shadow;
	border:none;
	
}
#admin-button:hover {
	text-align:center;
	text-decoration:none;
	/*box-shadow: 0 0 5px black;*/	
	color:#1e90ff;
	background-color:white;
	border:none;
	
}



.regibutton {
    display:block;
    width:100px;
	height:40px;
	position:relative;
	margin-left:20px;
	margin-top:20px;
    line-height:20px;
    color:white;
    text-align:center;
    text-decoration:none;
	text-shadow: 0 0 1px #1e90ff;
    background-color: #1e90ff;
    font-size:1em;
   	font-family:ps;	
	transition-duration:2s;
	transition-property:height,width,color,text-shadow,font-size,text-shadow,background-color,line-height,box-shadow;
	border:none;
	
}
.regibutton:hover {
	text-align:center;
	text-decoration:none;
	/*box-shadow: 0 0 5px black;*/	
	color:#1e90ff;
	background-color:white;
	border:none;
	
}

#Kubo-Form
{
	padding-top:10px;
	width:600px;
	height:230px;
	margin-left:180px;
	margin-top:-220px;
	color:black;
	
	
	
}

#admin-heading{
color:#1e90ff;
font-size:30px;
font-family:basic;	
font-weight:bolder;

}


#adminimg{
	height:100px;
	width:400px;
	margin-left:290px;
}


#row1{
	
}

#row2{
	
}

#forblur
{
/*background-color:#c9dbdc;
	opacity:0.8;
	filter: blur(50px);*/
	width:500px;
	height:230px;
	margin-left:230px;
	margin-top:60px;
	box-shadow:0 0 20px white;
	
}

#Regiform{
	
	
	width:600px;
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	padding-top:20px;
	box-shadow: 0 0 20px black;
}


